$main_color: #ec1f27 !default;
$text_color: #3b3b3b !default;
$border-color: rgba($text-color, 0.5) !default;
$sub_color: rgba(255, 255, 255, 0.9) !default;
$sub_color_text: $text-color !default;
$sub_color_border: $main_color;